<% include ../../partials/header %>

  <!-- Add Project Form -->
  <div class="project-menu mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto border">
          <h1 class="display-4 text-center">Project/Prospect Menu</h1>
          <p class="lead text-center">Create New Project or New Prospect</p>
          <form action="/project" method="POST" onsubmit="return formValidation()">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Client Name" name="clientName" id="clientName" />
              <small class="text-form text-muted" id="clientNameInfo">Client Name field is required</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Project or Prospect Name" name="projectName" id="projectName"
              />
              <small class="text-form text-muted" id="projectNameInfo">Project or Prospect Name field is required</small>
            </div>
            <div class="form-group">
              <select class="custom-select" name="category" id="category">
                <option value="Project">Project</option>
                <option value="Prospect">Prospect</option>
              </select>
              <small className="form-text text-muted" id="categoryInfo">Please select between Project & Prospect</small>
            </div>


            <input type="submit" class="btn btn-danger btn-block mt-4 mb-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- List of Project -->
  <div class="container mt-4 border-top">
    <div class="row">
      <div class="col-md-12 mt-2 m-auto">
        <h5 class="text-center mt-3 mb-2">Project Information</h1>
          <table class="table table-striped m-auto">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Project Name</th>
                <th scope="col">Client Name</th>
                <th scope="col">Category</th>
                <th scope="col">Submitted By</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <% project.map((project, index) => { %>
                <tr>
                  <th scope="row">
                    <%= index + 1 %>
                  </th>
                  <td>
                    <%= project.name %>
                  </td>
                  <td>
                    <%= project.client_name %>
                  </td>
                  <td>
                    <%= project.category %>
                  </td>
                  <td>
                    <%= project.createBy.name %>
                  </td>
                  <td>
                    <%= moment(project.created).format('LL') %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>
      </div>
    </div>
  </div>


  <% include ../../partials/footer %>

    <script src="/script/formValidation/project-menu.js"></script>