<% include ../../partials/header %>

  <div class="create-user mt-2">
    <div class="container">
      <div class="row">
        <div class="col-md-7 m-auto border">
          <h1 class="display-4 text-center">User Management Menu</h1>
          <p class="lead text-center">Create User Account</p>
          <form action="/user" method="POST">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Name" name="name" required />
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Email Address" name="email" />
            </div>
            <div class="form-group">
              <select class="custom-select" name="role">
                <option value="Programmer">Programmer</option>
                <option value="Admin">Admin</option>
                <option value="Sales">Sales</option>
              </select>
              <small className="form-text text-muted">Role User</small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" name="password2" />
            </div>
            <input type="submit" class="btn btn-danger btn-block mt-4 mb-4" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Table list user -->

  <div class="container mt-5 border-top">
    <div class="row">
      <div class="col-md-10 col-12 col-sm-10 m-auto">
        <h5 class="text-center mt-3 mb-2">User Information</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Nama</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% user.map((user, index) => { %>
                <tr>
                  <th scope="row">
                    <%= index + 1 %>
                  </th>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= user.role %>
                  </td>
                  <td>
                    <div class="btn-group" role="group">
                      <form action="/user/<%= user._id %>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger btn-sm" id="removeButton" value="Delete">
                      </form>
                      <a class="btn btn-info btn-sm" href="/user/edit/<%= user._id %>">Update</a>
                    </div>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>
      </div>
    </div>
  </div>



  <% include ../../partials/footer %>